body {
    background: url('gplaypattern.png') repeat 0 0;
}

.contact_body{
    height: 100%;
  background-color: #333;
    color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

h1 {
    font-style: oblique;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    color: #b9def0;
    ;
   font-size: 52px;
    font-family: 'Orbitron', sans-serif;
   text-shadow: 1px 1px #000000,
                2px 3px #000000,
                3px 3px #000000,
                4px 4px #000000;
   -webkit-transition: all 0.12s ease-out;
   -moz-transition:    all 0.12s ease-out;
   -ms-transition:     all 0.12s ease-out;
   -o-transition:      all 0.12s ease-out;
}

h2 {
    font-style: oblique;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    color: red;
   font: bold 52px 'Berkshire Swash', cursive;
   text-shadow: 1px 1px #000000,
                2px 3px #000000,
                3px 3px #000000,
                4px 4px #000000;
   -webkit-transition: all 0.12s ease-out;
   -moz-transition:    all 0.12s ease-out;
   -ms-transition:     all 0.12s ease-out;
   -o-transition:      all 0.12s ease-out;
}
.dataframe th {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 2px
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 500px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-google {
    background: #d9534f;
    color: white;
}

.fa-instagram {
    background: royalblue;
    color: white;
}

.contacts {
    margin-left: 50px;
}

.email {
    font-style: oblique;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    color: navajowhite;
   font: bold 30px 'Nobile', sans-serif;
   text-shadow: 1px 1px #000000,
                2px 3px #000000,
                3px 3px #000000,
                4px 4px #000000;
   -webkit-transition: all 0.12s ease-out;
   -moz-transition:    all 0.12s ease-out;
   -ms-transition:     all 0.12s ease-out;
   -o-transition:      all 0.12s ease-out;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

.table1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.tableheader {
    text-align: center;
    margin-top: 5%;
}
