<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VT Grade Distribution: Powered by Keller Han</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
      <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="bootstrap-theme.min.css">
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="#" class="navbar-left"><img src="logo.png" style="max-width:80px; margin-top: -15px; margin-right: 10px"></a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="acis.html">Accounting and Information Systems</a>
              <a class="dropdown-item" href="aero.html">Aerospace Engineering</a>
                <a class="dropdown-item" href="bit.html">Business Information Technology</a>
              <a class="dropdown-item" href="cs.html">Computer Science</a>
              <a class="dropdown-item" href="ece.html">Electrical and Computer Engineering</a>
                <a class="dropdown-item" href="finance.html">Finance</a>
                <a class="dropdown-item" href="math.html">Math</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

<table class="table table1 table-bordered table-hover">
  <thead>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <h1 class = "tableheader">Aerospace Engineering</h1>
  </thead>
  <tbody>
  <tr>
      <th>Course ID</th>
      <th>Title</th>
      <th>Professor</th>
      <th>GPA</th>
      <th>A%</th>
      <th>B%</th>
      <th>C%</th>
      <th>D%</th>
      <th>F%</th>
      <th>Withdrawals</th>
      <th># of Classes</th>
    </tr>
    <tr>
      <th rowspan="3" valign="top">2074</th>
      <th rowspan="3" valign="top">Computational Methods</th>
      <th>Canfield</th>
      <td>2.74</td>
      <td>17.48</td>
      <td>47.56</td>
      <td>25.16</td>
      <td>9.80</td>
      <td>0.00</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Massa</th>
      <td>2.60</td>
      <td>23.10</td>
      <td>30.80</td>
      <td>30.80</td>
      <td>15.40</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Wang</th>
      <td>2.76</td>
      <td>23.21</td>
      <td>38.89</td>
      <td>29.42</td>
      <td>7.72</td>
      <td>0.72</td>
      <td>2</td>
      <td>9</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">2104</th>
      <th>Intro to AE</th>
      <th>Patil</th>
      <td>3.29</td>
      <td>46.40</td>
      <td>43.70</td>
      <td>7.65</td>
      <td>1.50</td>
      <td>0.70</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">Intro to Aerospace Engineering</th>
      <th>Artis</th>
      <td>3.67</td>
      <td>69.40</td>
      <td>29.20</td>
      <td>1.40</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Paterson</th>
      <td>3.31</td>
      <td>40.80</td>
      <td>50.80</td>
      <td>8.40</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2114</th>
      <th>Fundamentals Flight Training</th>
      <th>Weaver</th>
      <td>3.29</td>
      <td>31.90</td>
      <td>61.70</td>
      <td>4.30</td>
      <td>2.10</td>
      <td>0.00</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2204</th>
      <th>Intro to Ocean Engineering</th>
      <th>Xiao</th>
      <td>3.12</td>
      <td>43.60</td>
      <td>36.80</td>
      <td>14.03</td>
      <td>2.77</td>
      <td>2.77</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2214</th>
      <th>Intro to Phys Ocean for OE</th>
      <th>Xiao</th>
      <td>3.82</td>
      <td>96.60</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>3.40</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2984</th>
      <th rowspan="2" valign="top">SS:Fund of Flt Training</th>
      <th>Miller</th>
      <td>3.79</td>
      <td>81.60</td>
      <td>18.40</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Weaver</th>
      <td>3.44</td>
      <td>60.00</td>
      <td>26.70</td>
      <td>6.70</td>
      <td>6.70</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">3014</th>
      <th rowspan="2" valign="top">Aero/Hydrodynamics</th>
      <th>Kuester</th>
      <td>2.33</td>
      <td>9.85</td>
      <td>36.80</td>
      <td>32.85</td>
      <td>18.30</td>
      <td>2.15</td>
      <td>7</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Roy</th>
      <td>2.29</td>
      <td>10.80</td>
      <td>27.63</td>
      <td>43.10</td>
      <td>13.63</td>
      <td>4.80</td>
      <td>9</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3024</th>
      <th>Thin-Walled Structures</th>
      <th>Seidel</th>
      <td>3.17</td>
      <td>38.02</td>
      <td>46.28</td>
      <td>12.00</td>
      <td>3.17</td>
      <td>0.57</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>3034</th>
      <th>Vehicle Vibration and Control</th>
      <th>Philen</th>
      <td>3.07</td>
      <td>34.13</td>
      <td>45.20</td>
      <td>17.18</td>
      <td>2.38</td>
      <td>1.07</td>
      <td>1</td>
      <td>6</td>
    </tr>
    <tr>
      <th>3044</th>
      <th>Boundary Layer Theory</th>
      <th>Schetz</th>
      <td>2.93</td>
      <td>21.83</td>
      <td>54.43</td>
      <td>18.80</td>
      <td>3.93</td>
      <td>1.00</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3054</th>
      <th>AOE Experimental Methods</th>
      <th>Borgoltz</th>
      <td>3.48</td>
      <td>59.13</td>
      <td>35.80</td>
      <td>3.40</td>
      <td>0.70</td>
      <td>1.00</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">3094</th>
      <th rowspan="3" valign="top">Materials for Aero &amp; Ocean Eng</th>
      <th>Aning</th>
      <td>2.87</td>
      <td>16.40</td>
      <td>58.90</td>
      <td>21.90</td>
      <td>2.70</td>
      <td>0.00</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Clark</th>
      <td>3.06</td>
      <td>29.40</td>
      <td>54.85</td>
      <td>12.60</td>
      <td>1.90</td>
      <td>1.25</td>
      <td>7</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Hendricks</th>
      <td>3.60</td>
      <td>61.00</td>
      <td>33.80</td>
      <td>3.90</td>
      <td>0.00</td>
      <td>1.30</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">3104</th>
      <th rowspan="2" valign="top">Aircraft Performance</th>
      <th>Adams</th>
      <td>3.29</td>
      <td>32.25</td>
      <td>62.75</td>
      <td>4.00</td>
      <td>0.50</td>
      <td>0.50</td>
      <td>7</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Woolsey</th>
      <td>3.58</td>
      <td>57.50</td>
      <td>42.50</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3114</th>
      <th>Compressible Aerodynamics</th>
      <th>Devenport</th>
      <td>2.97</td>
      <td>30.03</td>
      <td>47.03</td>
      <td>15.83</td>
      <td>5.10</td>
      <td>2.00</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3124</th>
      <th>Aerospace Structures</th>
      <th>Patil</th>
      <td>3.28</td>
      <td>51.63</td>
      <td>32.93</td>
      <td>10.12</td>
      <td>3.10</td>
      <td>2.22</td>
      <td>4</td>
      <td>6</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">3134</th>
      <th rowspan="2" valign="top">Stability and Control</th>
      <th>Farhood</th>
      <td>2.87</td>
      <td>20.50</td>
      <td>55.10</td>
      <td>19.20</td>
      <td>1.30</td>
      <td>3.80</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Woolsey</th>
      <td>2.98</td>
      <td>34.80</td>
      <td>39.25</td>
      <td>21.35</td>
      <td>2.15</td>
      <td>2.45</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">3204</th>
      <th rowspan="2" valign="top">Naval Architecture</th>
      <th>Alexander</th>
      <td>2.87</td>
      <td>15.00</td>
      <td>58.75</td>
      <td>23.20</td>
      <td>1.50</td>
      <td>1.50</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Wang</th>
      <td>2.90</td>
      <td>20.70</td>
      <td>58.60</td>
      <td>13.80</td>
      <td>0.00</td>
      <td>6.90</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">3224</th>
      <th rowspan="2" valign="top">Ocean Structures</th>
      <th>Hughes</th>
      <td>3.62</td>
      <td>75.00</td>
      <td>22.50</td>
      <td>0.00</td>
      <td>2.50</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Wang</th>
      <td>2.95</td>
      <td>25.20</td>
      <td>56.75</td>
      <td>11.20</td>
      <td>4.65</td>
      <td>2.15</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">3264</th>
      <th rowspan="2" valign="top">Res &amp; Prop Of Ships</th>
      <th>Neu</th>
      <td>2.62</td>
      <td>19.25</td>
      <td>38.35</td>
      <td>28.65</td>
      <td>6.55</td>
      <td>7.15</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Paterson</th>
      <td>3.38</td>
      <td>37.50</td>
      <td>62.50</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4004</th>
      <th>CAD Controls</th>
      <th>Farhood</th>
      <td>3.15</td>
      <td>33.90</td>
      <td>55.10</td>
      <td>9.30</td>
      <td>1.70</td>
      <td>0.00</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4064</th>
      <th>Fluid Flows in Nature</th>
      <th>Schetz</th>
      <td>3.08</td>
      <td>27.63</td>
      <td>55.23</td>
      <td>15.73</td>
      <td>1.43</td>
      <td>0.00</td>
      <td>14</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4065</th>
      <th>Aircraft Design</th>
      <th>Raj</th>
      <td>3.21</td>
      <td>38.07</td>
      <td>47.03</td>
      <td>13.73</td>
      <td>1.17</td>
      <td>0.00</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4066</th>
      <th>Aircraft Design</th>
      <th>Raj</th>
      <td>3.41</td>
      <td>55.27</td>
      <td>32.87</td>
      <td>10.90</td>
      <td>0.93</td>
      <td>0.00</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4084</th>
      <th>Engr Design Optimiz</th>
      <th>Canfield</th>
      <td>3.60</td>
      <td>66.13</td>
      <td>32.20</td>
      <td>1.67</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4124</th>
      <th>Configuration Aerodynamics</th>
      <th>Mason</th>
      <td>3.39</td>
      <td>59.60</td>
      <td>26.00</td>
      <td>11.83</td>
      <td>0.00</td>
      <td>2.57</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">4134</th>
      <th rowspan="2" valign="top">Astromechanics</th>
      <th>Black</th>
      <td>3.33</td>
      <td>39.52</td>
      <td>54.38</td>
      <td>6.10</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Tahmasian</th>
      <td>2.88</td>
      <td>27.00</td>
      <td>45.90</td>
      <td>18.90</td>
      <td>5.40</td>
      <td>2.70</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">4140</th>
      <th rowspan="2" valign="top">Spacecraft Dynamics &amp; Control</th>
      <th>Sultan</th>
      <td>3.04</td>
      <td>36.50</td>
      <td>39.60</td>
      <td>18.80</td>
      <td>4.20</td>
      <td>1.05</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Tahmasian</th>
      <td>3.32</td>
      <td>46.70</td>
      <td>41.30</td>
      <td>10.70</td>
      <td>1.30</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4154</th>
      <th>Aero Engr Lab</th>
      <th>Ma</th>
      <td>3.25</td>
      <td>40.09</td>
      <td>52.96</td>
      <td>5.03</td>
      <td>0.27</td>
      <td>1.70</td>
      <td>0</td>
      <td>23</td>
    </tr>
    <tr>
      <th>4165</th>
      <th>Spacecraft Design</th>
      <th>Shinpaugh</th>
      <td>3.40</td>
      <td>46.00</td>
      <td>52.43</td>
      <td>1.57</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4166</th>
      <th>Spacecraft Design</th>
      <th>Shinpaugh</th>
      <td>3.48</td>
      <td>49.60</td>
      <td>46.50</td>
      <td>3.90</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4174</th>
      <th>Spacecraft Propulsion</th>
      <th>Srinivasan</th>
      <td>3.54</td>
      <td>65.47</td>
      <td>29.53</td>
      <td>5.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4214</th>
      <th>Ocean Wave Mechanics</th>
      <th>Xiao</th>
      <td>3.67</td>
      <td>74.10</td>
      <td>22.13</td>
      <td>2.43</td>
      <td>0.87</td>
      <td>0.43</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4234</th>
      <th>Aerospace Propulsion Systems</th>
      <th>Lowe</th>
      <td>3.06</td>
      <td>29.50</td>
      <td>52.23</td>
      <td>15.33</td>
      <td>2.13</td>
      <td>0.87</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4244</th>
      <th>Marine Engineering</th>
      <th>Xiao</th>
      <td>3.60</td>
      <td>76.13</td>
      <td>19.93</td>
      <td>3.03</td>
      <td>0.90</td>
      <td>0.00</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4254</th>
      <th>Ocean Engineering Laboratory</th>
      <th>Neu</th>
      <td>3.32</td>
      <td>52.02</td>
      <td>34.27</td>
      <td>11.22</td>
      <td>2.50</td>
      <td>0.00</td>
      <td>0</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4264</th>
      <th>Principles Naval Engineering</th>
      <th>Brown</th>
      <td>3.41</td>
      <td>62.90</td>
      <td>25.30</td>
      <td>9.80</td>
      <td>0.00</td>
      <td>1.97</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4265</th>
      <th>Ship Design</th>
      <th>Brown</th>
      <td>3.47</td>
      <td>51.33</td>
      <td>47.17</td>
      <td>0.00</td>
      <td>1.50</td>
      <td>0.00</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4266</th>
      <th>Ship Design</th>
      <th>Brown</th>
      <td>3.59</td>
      <td>69.50</td>
      <td>25.37</td>
      <td>5.10</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">4334</th>
      <th rowspan="3" valign="top">Ship Dynamics</th>
      <th>Brizzolara</th>
      <td>3.37</td>
      <td>50.00</td>
      <td>38.50</td>
      <td>7.70</td>
      <td>3.80</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>McCue-Weil</th>
      <td>3.64</td>
      <td>70.30</td>
      <td>27.00</td>
      <td>2.70</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Woolsey</th>
      <td>3.11</td>
      <td>38.70</td>
      <td>41.90</td>
      <td>16.10</td>
      <td>3.20</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">4404</th>
      <th rowspan="2" valign="top">Applied Numerical Methods</th>
      <th>Choi</th>
      <td>3.42</td>
      <td>51.27</td>
      <td>47.23</td>
      <td>0.37</td>
      <td>1.17</td>
      <td>0.00</td>
      <td>4</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Massa</th>
      <td>3.31</td>
      <td>57.15</td>
      <td>24.10</td>
      <td>16.95</td>
      <td>0.00</td>
      <td>1.80</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4434</th>
      <th>Intro Comp Fluid Dynamics</th>
      <th>Choi</th>
      <td>2.78</td>
      <td>31.30</td>
      <td>37.50</td>
      <td>18.80</td>
      <td>12.50</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="8" valign="top">4984</th>
      <th>SS: Electronics for AOE</th>
      <th>Philen</th>
      <td>3.82</td>
      <td>87.50</td>
      <td>12.50</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>SS: Ethics in Autonomous Syst</th>
      <th>Woolsey</th>
      <td>3.79</td>
      <td>88.90</td>
      <td>11.10</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>SS: Navigation and Guidance</th>
      <th>Woolsey</th>
      <td>3.83</td>
      <td>81.80</td>
      <td>18.20</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>SS: Principles of Proj Dsgn</th>
      <th>Grossmann</th>
      <td>3.92</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>SS: Spacecraft PNT/Orbit Det</th>
      <th>Psiaki</th>
      <td>3.34</td>
      <td>40.00</td>
      <td>60.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>SS:Advanced Space Avionics</th>
      <th>Earle</th>
      <td>2.86</td>
      <td>36.00</td>
      <td>24.00</td>
      <td>36.00</td>
      <td>4.00</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>SS:Aerospace Electronics</th>
      <th>Earle</th>
      <td>3.09</td>
      <td>36.40</td>
      <td>36.40</td>
      <td>27.30</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>SS:Avionics</th>
      <th>Philen</th>
      <td>3.85</td>
      <td>90.55</td>
      <td>9.45</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">4994</th>
      <th rowspan="3" valign="top">Undergraduate Research</th>
      <th>Black</th>
      <td>3.94</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Brown</th>
      <td>3.60</td>
      <td>75.00</td>
      <td>25.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Woolsey</th>
      <td>4.00</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5024</th>
      <th>Vehicle Structures</th>
      <th>Kapania</th>
      <td>3.49</td>
      <td>55.20</td>
      <td>40.70</td>
      <td>1.87</td>
      <td>1.10</td>
      <td>1.10</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5034</th>
      <th>Mechanical &amp; Struct Dynamics</th>
      <th>Seidel</th>
      <td>3.82</td>
      <td>82.40</td>
      <td>17.60</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5054</th>
      <th>Elastic Stability</th>
      <th>Kapania</th>
      <td>3.83</td>
      <td>83.30</td>
      <td>16.70</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5074</th>
      <th>Adv Ship Structural Analysis</th>
      <th>Hughes</th>
      <td>3.61</td>
      <td>70.00</td>
      <td>30.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5104</th>
      <th>Adv Aero Hydrody</th>
      <th>Devenport</th>
      <td>3.21</td>
      <td>39.58</td>
      <td>45.05</td>
      <td>12.70</td>
      <td>1.52</td>
      <td>1.12</td>
      <td>0</td>
      <td>4</td>
    </tr>
    <tr>
      <th>5114</th>
      <th>High Speed Aerodynamics</th>
      <th>Adams</th>
      <td>3.44</td>
      <td>41.37</td>
      <td>58.63</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5135</th>
      <th>Vehicle Propulsion</th>
      <th>Ma</th>
      <td>3.46</td>
      <td>64.30</td>
      <td>28.60</td>
      <td>7.10</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5144</th>
      <th>Boundary-Layer Theory</th>
      <th>Schetz</th>
      <td>3.57</td>
      <td>66.37</td>
      <td>29.10</td>
      <td>4.53</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5204</th>
      <th>Vehicle Dynamics and Control</th>
      <th>Sultan</th>
      <td>3.31</td>
      <td>47.94</td>
      <td>41.70</td>
      <td>9.16</td>
      <td>0.00</td>
      <td>1.22</td>
      <td>0</td>
      <td>5</td>
    </tr>
    <tr>
      <th>5234</th>
      <th>Orbital Mechanics</th>
      <th>Black</th>
      <td>3.88</td>
      <td>92.97</td>
      <td>7.03</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5434</th>
      <th>Adv Intro Comp Fluid Dynamics</th>
      <th>Choi</th>
      <td>3.75</td>
      <td>81.10</td>
      <td>18.90</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">5984</th>
      <th>SS: Data Analysis in Fluid Dyn</th>
      <th>Lowe</th>
      <td>3.82</td>
      <td>91.70</td>
      <td>8.30</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>SS:Data Anlys Fluid Dyn Rsrch</th>
      <th>Lowe</th>
      <td>3.91</td>
      <td>90.90</td>
      <td>9.10</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>SS:Data AnlysisFluid DynResrch</th>
      <th>Lowe</th>
      <td>4.00</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>SS:Turbulence Mod &amp; Simulation</th>
      <th>Roy</th>
      <td>3.63</td>
      <td>75.00</td>
      <td>25.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6145</th>
      <th>Computational Fluid Dynamics</th>
      <th>Roy</th>
      <td>3.51</td>
      <td>60.00</td>
      <td>40.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6154</th>
      <th>Turbulent Shear Flow</th>
      <th>Paterson</th>
      <td>3.84</td>
      <td>82.40</td>
      <td>17.60</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6444</th>
      <th>Verificat Validat Sci Comput</th>
      <th>Roy</th>
      <td>3.74</td>
      <td>81.80</td>
      <td>18.20</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6984</th>
      <th>SS: System Identification</th>
      <th>Woolsey</th>
      <td>4.00</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
  </tbody>
</table>

 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap.min.js"></script>
<script src="dropdown.js"></script>
</body>