<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VT Grade Distribution: Powered by Keller Han</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">

    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="bootstrap-theme.min.css">
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="index.html" class="navbar-left"><img src="logo.png" style="max-width:80px; margin-top: -15px; margin-right: 10px"></a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="stats.html">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="acis.html">Accounting and Information Systems</a>
              <a class="dropdown-item" href="aero.html">Aerospace Engineering</a>
                <a class="dropdown-item" href="bit.html">Business Information Technology</a>
              <a class="dropdown-item" href="cs.html">Computer Science</a>
              <a class="dropdown-item" href="ece.html">Electrical and Computer Engineering</a>
                <a class="dropdown-item" href="finance.html">Finance</a>
                <a class="dropdown-item" href="math.html">Math</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

<table class="table table1 table-bordered table-hover">
  <thead>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <h1 class = "display-k text-center">Business Information Technology</h1>
  </thead>
  <tbody>
  <tr>
      <th>Course ID</th>
      <th>Title</th>
      <th>Professor</th>
      <th>GPA</th>
      <th>A%</th>
      <th>B%</th>
      <th>C%</th>
      <th>D%</th>
      <th>F%</th>
      <th>Withdrawals</th>
      <th># of Classes</th>
    </tr>
    <tr>
      <th rowspan="4" valign="top">2405</th>
      <th rowspan="4" valign="top">Quantitative Methods</th>
      <th>Jones</th>
      <td>3.06</td>
      <td>36.82</td>
      <td>39.22</td>
      <td>19.02</td>
      <td>3.63</td>
      <td>1.32</td>
      <td>81</td>
      <td>16</td>
    </tr>
    <tr>
      <th>Khansa</th>
      <td>3.04</td>
      <td>29.80</td>
      <td>42.10</td>
      <td>26.30</td>
      <td>1.80</td>
      <td>0.00</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Kwaramba</th>
      <td>2.75</td>
      <td>41.90</td>
      <td>22.60</td>
      <td>19.40</td>
      <td>6.50</td>
      <td>9.70</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Nottingham</th>
      <td>2.53</td>
      <td>15.59</td>
      <td>39.37</td>
      <td>33.94</td>
      <td>6.81</td>
      <td>4.31</td>
      <td>108</td>
      <td>7</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">2406</th>
      <th rowspan="5" valign="top">Quantitative Methods</th>
      <th>Matheson</th>
      <td>3.10</td>
      <td>33.22</td>
      <td>47.33</td>
      <td>19.42</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>9</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Nottingham</th>
      <td>2.41</td>
      <td>12.80</td>
      <td>39.05</td>
      <td>33.12</td>
      <td>8.77</td>
      <td>6.22</td>
      <td>32</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Seref</th>
      <td>3.14</td>
      <td>43.90</td>
      <td>34.10</td>
      <td>17.10</td>
      <td>3.70</td>
      <td>1.20</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Taylor</th>
      <td>3.15</td>
      <td>23.95</td>
      <td>62.70</td>
      <td>13.40</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>6</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Teets</th>
      <td>3.34</td>
      <td>49.05</td>
      <td>39.29</td>
      <td>10.12</td>
      <td>1.02</td>
      <td>0.54</td>
      <td>24</td>
      <td>24</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">3414</th>
      <th rowspan="5" valign="top">Operations &amp; Supply Chain Mgt</th>
      <th>Clark</th>
      <td>2.85</td>
      <td>23.94</td>
      <td>46.48</td>
      <td>23.04</td>
      <td>5.10</td>
      <td>1.45</td>
      <td>82</td>
      <td>24</td>
    </tr>
    <tr>
      <th>Li</th>
      <td>3.20</td>
      <td>42.60</td>
      <td>41.00</td>
      <td>14.80</td>
      <td>0.00</td>
      <td>1.60</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Matheson</th>
      <td>3.22</td>
      <td>38.10</td>
      <td>48.27</td>
      <td>12.03</td>
      <td>1.60</td>
      <td>0.00</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Russell</th>
      <td>2.83</td>
      <td>16.47</td>
      <td>55.90</td>
      <td>22.93</td>
      <td>3.30</td>
      <td>1.37</td>
      <td>12</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Taylor</th>
      <td>3.00</td>
      <td>20.00</td>
      <td>55.00</td>
      <td>25.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">3424</th>
      <th rowspan="4" valign="top">Intro Bus Analytics Modeling</th>
      <th>Abrahams</th>
      <td>3.42</td>
      <td>56.28</td>
      <td>33.48</td>
      <td>8.12</td>
      <td>1.55</td>
      <td>0.57</td>
      <td>14</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Ragsdale</th>
      <td>3.11</td>
      <td>36.80</td>
      <td>47.10</td>
      <td>11.80</td>
      <td>1.50</td>
      <td>2.90</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Rakes</th>
      <td>3.49</td>
      <td>65.35</td>
      <td>27.90</td>
      <td>5.70</td>
      <td>0.00</td>
      <td>1.05</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Seref</th>
      <td>3.74</td>
      <td>84.25</td>
      <td>11.40</td>
      <td>3.36</td>
      <td>0.31</td>
      <td>0.68</td>
      <td>12</td>
      <td>8</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">3434</th>
      <th rowspan="4" valign="top">Adv Modeling for Bus Analytics</th>
      <th>Badinelli</th>
      <td>3.27</td>
      <td>40.00</td>
      <td>48.77</td>
      <td>8.37</td>
      <td>2.37</td>
      <td>0.53</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Ragsdale</th>
      <td>3.43</td>
      <td>60.56</td>
      <td>30.80</td>
      <td>5.70</td>
      <td>2.20</td>
      <td>0.74</td>
      <td>2</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Rakes</th>
      <td>3.64</td>
      <td>72.54</td>
      <td>21.70</td>
      <td>5.42</td>
      <td>0.00</td>
      <td>0.34</td>
      <td>1</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Seref</th>
      <td>3.28</td>
      <td>53.95</td>
      <td>28.90</td>
      <td>12.50</td>
      <td>3.15</td>
      <td>1.55</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">3444</th>
      <th rowspan="3" valign="top">Adv Bus Comp and App</th>
      <th>Badinelli</th>
      <td>3.12</td>
      <td>34.60</td>
      <td>56.80</td>
      <td>3.70</td>
      <td>3.70</td>
      <td>1.20</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Seref</th>
      <td>3.32</td>
      <td>52.70</td>
      <td>32.54</td>
      <td>11.90</td>
      <td>1.64</td>
      <td>1.24</td>
      <td>13</td>
      <td>8</td>
    </tr>
    <tr>
      <th>Wang</th>
      <td>3.21</td>
      <td>44.80</td>
      <td>37.17</td>
      <td>13.34</td>
      <td>4.01</td>
      <td>0.67</td>
      <td>22</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3454</th>
      <th>Business Process Improvement</th>
      <th>Cook</th>
      <td>2.95</td>
      <td>26.48</td>
      <td>48.95</td>
      <td>21.58</td>
      <td>2.75</td>
      <td>0.28</td>
      <td>9</td>
      <td>6</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">3464</th>
      <th rowspan="2" valign="top">Enterprise Planning &amp; Control</th>
      <th>Khansa</th>
      <td>3.18</td>
      <td>38.65</td>
      <td>47.12</td>
      <td>10.22</td>
      <td>2.77</td>
      <td>1.27</td>
      <td>3</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Russell</th>
      <td>3.08</td>
      <td>31.60</td>
      <td>46.37</td>
      <td>19.50</td>
      <td>2.53</td>
      <td>0.00</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3954</th>
      <th>Study Abroad</th>
      <th>Matheson</th>
      <td>4.00</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4434</th>
      <th>Comp Sim In Bus</th>
      <th>Rees</th>
      <td>3.68</td>
      <td>76.63</td>
      <td>19.19</td>
      <td>3.27</td>
      <td>0.50</td>
      <td>0.41</td>
      <td>2</td>
      <td>10</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">4444</th>
      <th rowspan="3" valign="top">Web-Based DSS</th>
      <th>Rees</th>
      <td>3.54</td>
      <td>65.30</td>
      <td>26.50</td>
      <td>8.20</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Wang</th>
      <td>3.45</td>
      <td>55.90</td>
      <td>36.50</td>
      <td>6.45</td>
      <td>1.15</td>
      <td>0.00</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Zobel</th>
      <td>3.01</td>
      <td>31.14</td>
      <td>44.46</td>
      <td>17.10</td>
      <td>7.30</td>
      <td>0.00</td>
      <td>1</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4454</th>
      <th>Bus Analysis Seminar in IT</th>
      <th>Abrahams</th>
      <td>3.67</td>
      <td>71.74</td>
      <td>25.58</td>
      <td>2.39</td>
      <td>0.16</td>
      <td>0.16</td>
      <td>0</td>
      <td>8</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">4464</th>
      <th rowspan="2" valign="top">Adv Supply Chain Mgt</th>
      <th>Cook</th>
      <td>3.17</td>
      <td>32.63</td>
      <td>54.52</td>
      <td>10.97</td>
      <td>1.32</td>
      <td>0.55</td>
      <td>1</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Russell</th>
      <td>3.27</td>
      <td>57.10</td>
      <td>21.40</td>
      <td>21.40</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">4474</th>
      <th rowspan="3" valign="top">Global Ops &amp; Info Technology</th>
      <th>Khansa</th>
      <td>3.55</td>
      <td>59.65</td>
      <td>38.25</td>
      <td>2.10</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Matheson</th>
      <td>3.62</td>
      <td>74.46</td>
      <td>18.24</td>
      <td>6.34</td>
      <td>0.62</td>
      <td>0.32</td>
      <td>2</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Russell</th>
      <td>3.36</td>
      <td>41.53</td>
      <td>53.53</td>
      <td>4.90</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">4484</th>
      <th rowspan="3" valign="top">Project Management</th>
      <th>Badinelli</th>
      <td>3.01</td>
      <td>26.53</td>
      <td>53.25</td>
      <td>18.05</td>
      <td>1.78</td>
      <td>0.38</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Deane</th>
      <td>3.30</td>
      <td>38.83</td>
      <td>54.32</td>
      <td>6.43</td>
      <td>0.00</td>
      <td>0.43</td>
      <td>2</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Fernandez</th>
      <td>3.66</td>
      <td>64.50</td>
      <td>35.50</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">4514</th>
      <th rowspan="3" valign="top">Database Technology for Bus</th>
      <th>Deane</th>
      <td>3.17</td>
      <td>28.10</td>
      <td>61.90</td>
      <td>9.53</td>
      <td>0.47</td>
      <td>0.00</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Fernandez</th>
      <td>3.78</td>
      <td>83.30</td>
      <td>16.70</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Zobel</th>
      <td>3.09</td>
      <td>31.62</td>
      <td>48.35</td>
      <td>18.53</td>
      <td>1.48</td>
      <td>0.00</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">4524</th>
      <th rowspan="3" valign="top">Systems Development</th>
      <th>Deane</th>
      <td>2.97</td>
      <td>26.27</td>
      <td>52.70</td>
      <td>15.10</td>
      <td>4.97</td>
      <td>1.00</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Shen</th>
      <td>3.42</td>
      <td>47.30</td>
      <td>50.05</td>
      <td>2.65</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Tegarden</th>
      <td>3.21</td>
      <td>34.78</td>
      <td>53.58</td>
      <td>10.78</td>
      <td>0.38</td>
      <td>0.48</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">4554</th>
      <th rowspan="2" valign="top">Networks &amp; Telecomm Business</th>
      <th>Rakes</th>
      <td>3.44</td>
      <td>54.00</td>
      <td>38.07</td>
      <td>6.60</td>
      <td>1.02</td>
      <td>0.33</td>
      <td>4</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Shen</th>
      <td>3.00</td>
      <td>22.02</td>
      <td>58.93</td>
      <td>19.05</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>1</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4614</th>
      <th>Information Security</th>
      <th>James</th>
      <td>3.29</td>
      <td>55.67</td>
      <td>32.12</td>
      <td>10.43</td>
      <td>1.77</td>
      <td>0.00</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>5404</th>
      <th>Decision Modeling &amp; Analytics</th>
      <th>Major</th>
      <td>3.46</td>
      <td>53.35</td>
      <td>41.65</td>
      <td>5.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">5414</th>
      <th>Global Operations Management</th>
      <th>Hoopes</th>
      <td>3.70</td>
      <td>76.50</td>
      <td>19.10</td>
      <td>4.45</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">POM in a Global Environment</th>
      <th>Hoopes</th>
      <td>3.79</td>
      <td>84.42</td>
      <td>12.43</td>
      <td>3.15</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Russell</th>
      <td>3.69</td>
      <td>77.80</td>
      <td>19.40</td>
      <td>2.80</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5424</th>
      <th>Bus Visualization Analytics</th>
      <th>James</th>
      <td>3.75</td>
      <td>90.90</td>
      <td>4.50</td>
      <td>0.00</td>
      <td>4.50</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">5474</th>
      <th rowspan="2" valign="top">Computer-Based Dec Sup Sys</th>
      <th>Major</th>
      <td>3.80</td>
      <td>83.10</td>
      <td>16.90</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Ragsdale</th>
      <td>3.56</td>
      <td>68.20</td>
      <td>26.80</td>
      <td>1.73</td>
      <td>3.27</td>
      <td>0.00</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5484</th>
      <th>Cognitive Comp Smart Service</th>
      <th>Badinelli</th>
      <td>3.76</td>
      <td>80.00</td>
      <td>20.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5494</th>
      <th>Intl Operations and Info Tech</th>
      <th>Hoopes</th>
      <td>3.99</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5495</th>
      <th>DSS Design and Implementation</th>
      <th>Matheson</th>
      <td>3.85</td>
      <td>87.50</td>
      <td>10.95</td>
      <td>1.55</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5524</th>
      <th>Intro Bus Intel and Analytics</th>
      <th>Hoopes</th>
      <td>3.58</td>
      <td>71.40</td>
      <td>21.95</td>
      <td>6.15</td>
      <td>0.55</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">5534</th>
      <th rowspan="2" valign="top">Applied Bus Intel &amp; Analytics</th>
      <th>Major</th>
      <td>3.29</td>
      <td>48.70</td>
      <td>39.50</td>
      <td>7.15</td>
      <td>4.65</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Seref</th>
      <td>3.56</td>
      <td>61.10</td>
      <td>38.90</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5594</th>
      <th>Web Apps &amp; Elec Com</th>
      <th>Ghandforoush</th>
      <td>3.45</td>
      <td>50.06</td>
      <td>47.64</td>
      <td>1.58</td>
      <td>0.26</td>
      <td>0.46</td>
      <td>0</td>
      <td>5</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">5604</th>
      <th rowspan="2" valign="top">Mod Decis Mkng for Comp Advntg</th>
      <th>Rashidi</th>
      <td>3.75</td>
      <td>81.15</td>
      <td>18.85</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Salbador</th>
      <td>3.83</td>
      <td>92.30</td>
      <td>7.70</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">5624</th>
      <th rowspan="2" valign="top">Project Management</th>
      <th>Badinelli</th>
      <td>3.44</td>
      <td>48.65</td>
      <td>47.00</td>
      <td>4.35</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Hoopes</th>
      <td>3.97</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>4</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">5644</th>
      <th rowspan="2" valign="top">Mgt of Info for Bus Decisions</th>
      <th>Abrahams</th>
      <td>3.83</td>
      <td>86.42</td>
      <td>13.57</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Ragsdale</th>
      <td>3.57</td>
      <td>67.37</td>
      <td>29.53</td>
      <td>3.13</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5654</th>
      <th>Project Management</th>
      <th>Badinelli</th>
      <td>3.42</td>
      <td>46.87</td>
      <td>50.57</td>
      <td>2.57</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5664</th>
      <th>Managing Global Supply Chain</th>
      <th>Deane</th>
      <td>3.65</td>
      <td>72.03</td>
      <td>25.10</td>
      <td>2.83</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5724</th>
      <th>Managerial Statistics</th>
      <th>Major</th>
      <td>3.26</td>
      <td>50.04</td>
      <td>32.36</td>
      <td>11.64</td>
      <td>5.18</td>
      <td>0.76</td>
      <td>0</td>
      <td>5</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">5984</th>
      <th>SS: Appl Bus Intell &amp; Analytcs</th>
      <th>Major</th>
      <td>3.75</td>
      <td>75.00</td>
      <td>25.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>SS:Intro to Bus Intell &amp; Analy</th>
      <th>Hoopes</th>
      <td>3.37</td>
      <td>54.30</td>
      <td>34.30</td>
      <td>8.60</td>
      <td>2.90</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6414</th>
      <th>Seminar in Information Tech</th>
      <th>Wang</th>
      <td>4.00</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap.min.js"></script>
    <script src="dropdown.js"></script>
</body>
