<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VT Grade Distribution: Powered by Keller Han</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="bootstrap-theme.min.css">
</head>
<body class="contact_body">
 <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="index.html" class="navbar-left"><img src="logo.png" style="max-width:80px; margin-top: -15px; margin-right: 10px"></a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="stats.html">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="acis.html">Accounting and Information Systems</a>
              <a class="dropdown-item" href="aero.html">Aerospace Engineering</a>
                <a class="dropdown-item" href="bit.html">Business Information Technology</a>
              <a class="dropdown-item" href="cs.html">Computer Science</a>
              <a class="dropdown-item" href="ece.html">Electrical and Computer Engineering</a>
                <a class="dropdown-item" href="finance.html">Finance</a>
                <a class="dropdown-item" href="math.html">Math</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

 <div class ="contacts">
     <h2 class="display-3" style="margin-right: 50px">Email</h2>
     <p class="display-4" style="margin-right: 50px">kelhan18@gmail.com</p>
 </div>

 <!-- Add font awesome icons -->


    <div class="social-btns icon-rounded icon-rotate">
	      <a class="btn facebook" href="https://www.facebook.com/keller.han" target="_blank"><i class="fa fa-facebook"></i></a>
	      <a class="btn linkedin" href="http://linkedin.com/in/keller-han-616178129" target="_blank"><i class="fa fa-linkedin" target="_blank"></i></a>
          <a class="btn instagram" href="https://www.instagram.com/k_han7/" target="_blank"><i class="fa fa-instagram"></i></a>
          <a class="btn flickr" href="https://www.flickr.com/photos/134906377@N08/albums" target="_blank"><i class="fa fa-flickr"></i></a>
          <a class="btn github" href="https://github.com/kelhan18" target="_blank"><i class="fa fa-github"></i></a>

    </div>



     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap.min.js"></script>
    <script src="dropdown.js"></script>
</body>
</html>