<table border="1" class="dataframe CS">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th></th>
      <th>GPA</th>
      <th>A%</th>
      <th>B%</th>
      <th>C%</th>
      <th>D%</th>
      <th>F%</th>
      <th>Withdrawals</th>
      <th># of Classes</th>
    </tr>
    <tr>
      <th>Course ID</th>
      <th>Title</th>
      <th>Professor</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">1014</th>
      <th rowspan="2" valign="top">Intro Computational Thinking</th>
      <th>Bart</th>
      <td>3.50</td>
      <td>68.90</td>
      <td>20.80</td>
      <td>9.20</td>
      <td>0.00</td>
      <td>1.10</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Kafura</th>
      <td>3.19</td>
      <td>52.85</td>
      <td>30.70</td>
      <td>6.30</td>
      <td>5.30</td>
      <td>4.90</td>
      <td>7</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">1044</th>
      <th rowspan="3" valign="top">Intro Prog in C</th>
      <th>Monti</th>
      <td>3.23</td>
      <td>55.30</td>
      <td>27.35</td>
      <td>8.30</td>
      <td>3.65</td>
      <td>5.40</td>
      <td>16</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Soundararajan</th>
      <td>2.77</td>
      <td>23.05</td>
      <td>50.80</td>
      <td>16.20</td>
      <td>5.20</td>
      <td>4.70</td>
      <td>24</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Stevens</th>
      <td>2.80</td>
      <td>31.53</td>
      <td>37.49</td>
      <td>17.74</td>
      <td>6.89</td>
      <td>6.33</td>
      <td>97</td>
      <td>7</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">1054</th>
      <th rowspan="2" valign="top">Intro to Programming in Java</th>
      <th>Hafeez</th>
      <td>3.09</td>
      <td>66.70</td>
      <td>14.30</td>
      <td>4.80</td>
      <td>0.00</td>
      <td>14.30</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Lewis</th>
      <td>3.24</td>
      <td>41.52</td>
      <td>44.70</td>
      <td>12.04</td>
      <td>0.96</td>
      <td>0.77</td>
      <td>45</td>
      <td>26</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">1064</th>
      <th rowspan="2" valign="top">Intro to Programming in Python</th>
      <th>Monti</th>
      <td>3.28</td>
      <td>54.90</td>
      <td>28.95</td>
      <td>9.82</td>
      <td>3.10</td>
      <td>3.27</td>
      <td>39</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Rajamohan</th>
      <td>3.15</td>
      <td>28.20</td>
      <td>57.30</td>
      <td>12.90</td>
      <td>0.00</td>
      <td>1.60</td>
      <td>8</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="7" valign="top">1114</th>
      <th rowspan="7" valign="top">Intro to Software Design</th>
      <th>Barnette</th>
      <td>2.47</td>
      <td>18.55</td>
      <td>39.16</td>
      <td>24.70</td>
      <td>11.18</td>
      <td>6.43</td>
      <td>153</td>
      <td>20</td>
    </tr>
    <tr>
      <th>Edwards</th>
      <td>2.59</td>
      <td>20.52</td>
      <td>38.60</td>
      <td>23.52</td>
      <td>12.37</td>
      <td>4.95</td>
      <td>25</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Irwin</th>
      <td>2.18</td>
      <td>11.82</td>
      <td>31.18</td>
      <td>28.60</td>
      <td>19.30</td>
      <td>8.98</td>
      <td>55</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Leal</th>
      <td>2.40</td>
      <td>20.77</td>
      <td>32.45</td>
      <td>24.33</td>
      <td>12.03</td>
      <td>10.43</td>
      <td>27</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Soundararajan</th>
      <td>2.75</td>
      <td>25.90</td>
      <td>49.87</td>
      <td>10.00</td>
      <td>7.03</td>
      <td>7.20</td>
      <td>10</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Stevens</th>
      <td>2.87</td>
      <td>37.27</td>
      <td>33.73</td>
      <td>13.93</td>
      <td>10.40</td>
      <td>4.63</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Tilevich</th>
      <td>3.03</td>
      <td>37.45</td>
      <td>41.15</td>
      <td>12.19</td>
      <td>5.24</td>
      <td>4.00</td>
      <td>19</td>
      <td>8</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">1604</th>
      <th rowspan="3" valign="top">Introduction to the Internet</th>
      <th>Altarawy</th>
      <td>3.66</td>
      <td>77.80</td>
      <td>16.85</td>
      <td>1.80</td>
      <td>2.20</td>
      <td>1.40</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Baidya</th>
      <td>3.25</td>
      <td>55.55</td>
      <td>27.35</td>
      <td>11.50</td>
      <td>2.30</td>
      <td>3.30</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Luke</th>
      <td>3.10</td>
      <td>41.70</td>
      <td>43.80</td>
      <td>8.30</td>
      <td>0.00</td>
      <td>6.30</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">2104</th>
      <th rowspan="4" valign="top">Intro to Problem Solving in CS</th>
      <th>Barnette</th>
      <td>3.11</td>
      <td>37.37</td>
      <td>47.57</td>
      <td>12.77</td>
      <td>2.27</td>
      <td>0.00</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Ellis</th>
      <td>3.42</td>
      <td>56.38</td>
      <td>36.22</td>
      <td>5.88</td>
      <td>0.78</td>
      <td>0.77</td>
      <td>2</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Onufriev</th>
      <td>3.06</td>
      <td>27.60</td>
      <td>50.95</td>
      <td>19.60</td>
      <td>0.72</td>
      <td>1.15</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Watson</th>
      <td>2.76</td>
      <td>10.43</td>
      <td>59.02</td>
      <td>26.40</td>
      <td>2.35</td>
      <td>1.78</td>
      <td>9</td>
      <td>4</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">2114</th>
      <th rowspan="4" valign="top">Softw Des &amp; Data Structures</th>
      <th>Barnette</th>
      <td>2.92</td>
      <td>29.06</td>
      <td>46.84</td>
      <td>19.26</td>
      <td>2.57</td>
      <td>2.28</td>
      <td>39</td>
      <td>16</td>
    </tr>
    <tr>
      <th>Ellis</th>
      <td>2.97</td>
      <td>32.77</td>
      <td>41.16</td>
      <td>21.70</td>
      <td>2.45</td>
      <td>1.91</td>
      <td>50</td>
      <td>15</td>
    </tr>
    <tr>
      <th>Fouh Mbindi</th>
      <td>2.83</td>
      <td>23.40</td>
      <td>52.50</td>
      <td>21.60</td>
      <td>0.00</td>
      <td>2.50</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Perez-Quinonez</th>
      <td>3.32</td>
      <td>52.77</td>
      <td>38.48</td>
      <td>5.90</td>
      <td>0.82</td>
      <td>1.98</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">2304</th>
      <th rowspan="4" valign="top">Self Study Prog Sys</th>
      <th>Charles</th>
      <td>3.90</td>
      <td>94.40</td>
      <td>5.60</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Gusukuma</th>
      <td>3.43</td>
      <td>70.00</td>
      <td>20.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>10.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Hartsock</th>
      <td>3.34</td>
      <td>67.45</td>
      <td>15.95</td>
      <td>5.85</td>
      <td>5.95</td>
      <td>4.75</td>
      <td>9</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Monti</th>
      <td>3.57</td>
      <td>83.05</td>
      <td>7.40</td>
      <td>1.20</td>
      <td>0.00</td>
      <td>8.35</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">2505</th>
      <th rowspan="3" valign="top">Intro Computer Organization</th>
      <th>Jung</th>
      <td>2.71</td>
      <td>12.60</td>
      <td>55.75</td>
      <td>24.15</td>
      <td>5.05</td>
      <td>2.40</td>
      <td>13</td>
      <td>2</td>
    </tr>
    <tr>
      <th>McQuain</th>
      <td>2.63</td>
      <td>14.90</td>
      <td>43.05</td>
      <td>36.15</td>
      <td>3.85</td>
      <td>2.10</td>
      <td>21</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Monti</th>
      <td>2.84</td>
      <td>24.43</td>
      <td>45.94</td>
      <td>21.67</td>
      <td>4.56</td>
      <td>3.47</td>
      <td>59</td>
      <td>8</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2506</th>
      <th rowspan="2" valign="top">Intro to Computer Organization</th>
      <th>Lee</th>
      <td>2.41</td>
      <td>17.63</td>
      <td>30.73</td>
      <td>34.50</td>
      <td>9.20</td>
      <td>7.97</td>
      <td>30</td>
      <td>3</td>
    </tr>
    <tr>
      <th>McQuain</th>
      <td>2.63</td>
      <td>20.43</td>
      <td>37.33</td>
      <td>31.06</td>
      <td>7.40</td>
      <td>3.76</td>
      <td>37</td>
      <td>7</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">2974</th>
      <th rowspan="5" valign="top">Independent Study</th>
      <th>Back</th>
      <td>3.99</td>
      <td>97.50</td>
      <td>2.50</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Katz</th>
      <td>3.96</td>
      <td>90.00</td>
      <td>10.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Leal</th>
      <td>3.96</td>
      <td>90.00</td>
      <td>10.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>McQuain</th>
      <td>3.96</td>
      <td>90.00</td>
      <td>10.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Monti</th>
      <td>3.96</td>
      <td>90.00</td>
      <td>10.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2984</th>
      <th>SS: Intro to Comp Thinking"</th>
      <th>Kafura</th>
      <td>2.96</td>
      <td>34.00</td>
      <td>40.40</td>
      <td>19.10</td>
      <td>4.30</td>
      <td>2.10</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>SS:Intro to Comp Thinking</th>
      <th>Kafura</th>
      <td>3.42</td>
      <td>48.60</td>
      <td>46.70</td>
      <td>3.30</td>
      <td>1.40</td>
      <td>0.00</td>
      <td>5</td>
      <td>3</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">3114</th>
      <th rowspan="5" valign="top">Data Structures and Algorithms</th>
      <th>Barnette</th>
      <td>2.41</td>
      <td>9.95</td>
      <td>48.35</td>
      <td>25.45</td>
      <td>11.70</td>
      <td>4.55</td>
      <td>19</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Cao</th>
      <td>2.75</td>
      <td>22.40</td>
      <td>40.30</td>
      <td>29.90</td>
      <td>3.00</td>
      <td>4.50</td>
      <td>6</td>
      <td>1</td>
    </tr>
    <tr>
      <th>McQuain</th>
      <td>2.62</td>
      <td>22.80</td>
      <td>34.80</td>
      <td>30.00</td>
      <td>9.83</td>
      <td>2.57</td>
      <td>24</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Prakash</th>
      <td>2.95</td>
      <td>33.90</td>
      <td>42.40</td>
      <td>11.90</td>
      <td>6.80</td>
      <td>5.10</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Shaffer</th>
      <td>3.05</td>
      <td>45.17</td>
      <td>27.00</td>
      <td>17.18</td>
      <td>7.15</td>
      <td>3.47</td>
      <td>48</td>
      <td>6</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">3214</th>
      <th rowspan="4" valign="top">Computer Systems</th>
      <th>Back</th>
      <td>2.83</td>
      <td>25.60</td>
      <td>48.90</td>
      <td>16.95</td>
      <td>1.10</td>
      <td>7.55</td>
      <td>10</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Butt</th>
      <td>2.92</td>
      <td>30.83</td>
      <td>46.37</td>
      <td>13.83</td>
      <td>6.93</td>
      <td>1.97</td>
      <td>17</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Kafura</th>
      <td>2.89</td>
      <td>32.20</td>
      <td>42.40</td>
      <td>20.30</td>
      <td>1.70</td>
      <td>3.40</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>McQuain</th>
      <td>2.72</td>
      <td>21.83</td>
      <td>38.17</td>
      <td>33.78</td>
      <td>4.22</td>
      <td>2.02</td>
      <td>24</td>
      <td>6</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">3304</th>
      <th rowspan="3" valign="top">Comparative Languages</th>
      <th>Arthur</th>
      <td>3.13</td>
      <td>42.80</td>
      <td>35.32</td>
      <td>15.78</td>
      <td>5.07</td>
      <td>1.03</td>
      <td>8</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Gracanin</th>
      <td>2.94</td>
      <td>27.00</td>
      <td>46.55</td>
      <td>19.65</td>
      <td>6.35</td>
      <td>0.45</td>
      <td>9</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Meng</th>
      <td>2.64</td>
      <td>20.70</td>
      <td>43.10</td>
      <td>31.00</td>
      <td>5.20</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="6" valign="top">3414</th>
      <th rowspan="6" valign="top">Numerical Methods</th>
      <th>Cao</th>
      <td>3.03</td>
      <td>35.10</td>
      <td>40.85</td>
      <td>22.40</td>
      <td>1.60</td>
      <td>0.00</td>
      <td>7</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Nino Ruiz</th>
      <td>2.93</td>
      <td>25.00</td>
      <td>56.30</td>
      <td>18.80</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Onufriev</th>
      <td>3.48</td>
      <td>55.20</td>
      <td>44.80</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Sandu</th>
      <td>2.61</td>
      <td>34.47</td>
      <td>20.87</td>
      <td>23.77</td>
      <td>16.53</td>
      <td>4.33</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Tranquilli</th>
      <td>2.34</td>
      <td>25.00</td>
      <td>25.00</td>
      <td>18.80</td>
      <td>31.30</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Watson</th>
      <td>2.57</td>
      <td>14.30</td>
      <td>35.70</td>
      <td>42.90</td>
      <td>7.10</td>
      <td>0.00</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">3604</th>
      <th rowspan="2" valign="top">Professionalism in Computing</th>
      <th>Dunlap</th>
      <td>3.58</td>
      <td>72.55</td>
      <td>19.46</td>
      <td>5.69</td>
      <td>1.79</td>
      <td>0.52</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>Tatar</th>
      <td>3.14</td>
      <td>46.45</td>
      <td>37.65</td>
      <td>10.95</td>
      <td>0.00</td>
      <td>4.95</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">3654</th>
      <th rowspan="3" valign="top">Intro Data Analytics &amp; Visual</th>
      <th>North</th>
      <td>3.21</td>
      <td>46.60</td>
      <td>34.10</td>
      <td>15.00</td>
      <td>0.97</td>
      <td>3.23</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Olteanu Roberts</th>
      <td>3.87</td>
      <td>90.90</td>
      <td>9.10</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Sengupta</th>
      <td>3.77</td>
      <td>75.00</td>
      <td>25.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">3704</th>
      <th rowspan="4" valign="top">Intermed Software Des</th>
      <th>Edmison</th>
      <td>3.58</td>
      <td>66.10</td>
      <td>31.40</td>
      <td>2.50</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Meng</th>
      <td>2.77</td>
      <td>30.00</td>
      <td>40.00</td>
      <td>20.00</td>
      <td>10.00</td>
      <td>0.00</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Servant Cortes</th>
      <td>3.14</td>
      <td>34.20</td>
      <td>50.00</td>
      <td>15.80</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Soundararajan</th>
      <td>3.21</td>
      <td>37.95</td>
      <td>50.05</td>
      <td>10.45</td>
      <td>1.50</td>
      <td>0.00</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">3714</th>
      <th rowspan="4" valign="top">Mobile Software Development</th>
      <th>Balci</th>
      <td>3.32</td>
      <td>55.13</td>
      <td>31.33</td>
      <td>8.23</td>
      <td>4.63</td>
      <td>0.67</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Esakia</th>
      <td>3.69</td>
      <td>83.30</td>
      <td>10.60</td>
      <td>3.00</td>
      <td>0.00</td>
      <td>3.00</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>McCrickard</th>
      <td>3.35</td>
      <td>55.30</td>
      <td>32.30</td>
      <td>8.05</td>
      <td>3.60</td>
      <td>0.75</td>
      <td>7</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Seyam</th>
      <td>3.50</td>
      <td>70.25</td>
      <td>19.75</td>
      <td>6.25</td>
      <td>0.00</td>
      <td>3.75</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">3724</th>
      <th rowspan="4" valign="top">Human-Computr Intrctn</th>
      <th>Bowman</th>
      <td>3.57</td>
      <td>60.85</td>
      <td>37.75</td>
      <td>0.80</td>
      <td>0.65</td>
      <td>0.00</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Harrison</th>
      <td>3.69</td>
      <td>76.80</td>
      <td>18.80</td>
      <td>4.30</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>McCrickard</th>
      <td>3.70</td>
      <td>79.10</td>
      <td>17.47</td>
      <td>2.20</td>
      <td>1.00</td>
      <td>0.27</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Singh</th>
      <td>3.80</td>
      <td>81.00</td>
      <td>19.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">3744</th>
      <th rowspan="2" valign="top">Intro GUI Programming/Graphics</th>
      <th>Gracanin</th>
      <td>2.93</td>
      <td>46.73</td>
      <td>26.93</td>
      <td>10.43</td>
      <td>7.97</td>
      <td>7.93</td>
      <td>21</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Luther</th>
      <td>3.30</td>
      <td>55.35</td>
      <td>30.50</td>
      <td>10.10</td>
      <td>0.95</td>
      <td>3.15</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3824</th>
      <th>Intro Comp Bio Bioinformatics</th>
      <th>Heath</th>
      <td>3.12</td>
      <td>37.10</td>
      <td>49.60</td>
      <td>6.25</td>
      <td>3.55</td>
      <td>3.55</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3984</th>
      <th>SS: Cloud Software Development</th>
      <th>Balci</th>
      <td>3.16</td>
      <td>44.70</td>
      <td>29.80</td>
      <td>23.40</td>
      <td>2.10</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">4104</th>
      <th rowspan="4" valign="top">Data and Algorithm Analysis</th>
      <th>Heath</th>
      <td>2.66</td>
      <td>13.30</td>
      <td>43.30</td>
      <td>38.30</td>
      <td>1.70</td>
      <td>3.30</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Murali</th>
      <td>3.03</td>
      <td>35.60</td>
      <td>39.05</td>
      <td>22.50</td>
      <td>2.85</td>
      <td>0.00</td>
      <td>6</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Raghvendra</th>
      <td>2.66</td>
      <td>18.37</td>
      <td>40.43</td>
      <td>34.37</td>
      <td>6.83</td>
      <td>0.00</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Shaffer</th>
      <td>3.04</td>
      <td>38.00</td>
      <td>39.20</td>
      <td>17.70</td>
      <td>3.80</td>
      <td>1.30</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4114</th>
      <th>Formal Languages</th>
      <th>Zhang</th>
      <td>2.79</td>
      <td>28.10</td>
      <td>40.37</td>
      <td>20.13</td>
      <td>7.47</td>
      <td>3.93</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">4124</th>
      <th rowspan="2" valign="top">Theory of Computation</th>
      <th>Heath</th>
      <td>3.14</td>
      <td>35.70</td>
      <td>47.60</td>
      <td>14.30</td>
      <td>0.00</td>
      <td>2.40</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Watson</th>
      <td>2.56</td>
      <td>20.80</td>
      <td>42.95</td>
      <td>16.30</td>
      <td>14.10</td>
      <td>5.85</td>
      <td>6</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">4204</th>
      <th rowspan="2" valign="top">Computer Graphics</th>
      <th>Cao</th>
      <td>3.00</td>
      <td>33.30</td>
      <td>33.30</td>
      <td>33.30</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Gracanin</th>
      <td>2.79</td>
      <td>33.30</td>
      <td>13.30</td>
      <td>46.70</td>
      <td>6.70</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">4234</th>
      <th rowspan="2" valign="top">Parallel Computation</th>
      <th>Cameron</th>
      <td>3.29</td>
      <td>41.55</td>
      <td>44.40</td>
      <td>10.75</td>
      <td>3.35</td>
      <td>0.00</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Feng</th>
      <td>3.32</td>
      <td>64.70</td>
      <td>11.80</td>
      <td>17.60</td>
      <td>5.90</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4244</th>
      <th>Internet Software Development</th>
      <th>Lucia</th>
      <td>3.56</td>
      <td>76.70</td>
      <td>16.30</td>
      <td>4.70</td>
      <td>2.30</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">4264</th>
      <th rowspan="3" valign="top">Principles Computer Security</th>
      <th>Giles</th>
      <td>3.39</td>
      <td>59.40</td>
      <td>34.40</td>
      <td>3.10</td>
      <td>0.00</td>
      <td>3.10</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Wang</th>
      <td>3.43</td>
      <td>50.80</td>
      <td>44.60</td>
      <td>4.60</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Yao</th>
      <td>3.29</td>
      <td>44.05</td>
      <td>43.20</td>
      <td>12.75</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">4284</th>
      <th rowspan="3" valign="top">Systems &amp; Networking Capstone</th>
      <th>Back</th>
      <td>3.64</td>
      <td>59.80</td>
      <td>40.20</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Butt</th>
      <td>3.62</td>
      <td>75.00</td>
      <td>22.90</td>
      <td>0.00</td>
      <td>2.10</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Cameron</th>
      <td>4.00</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4304</th>
      <th>Compiler Design</th>
      <th>Jung</th>
      <td>2.86</td>
      <td>16.70</td>
      <td>44.40</td>
      <td>33.30</td>
      <td>5.60</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">4604</th>
      <th rowspan="2" valign="top">Int Data Base Mgt Sys</th>
      <th>Prakash</th>
      <td>3.04</td>
      <td>29.00</td>
      <td>55.00</td>
      <td>8.95</td>
      <td>7.05</td>
      <td>0.00</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Quintin</th>
      <td>3.18</td>
      <td>34.70</td>
      <td>55.10</td>
      <td>8.20</td>
      <td>2.00</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4624</th>
      <th>Multimedia/Hypertext</th>
      <th>Fox</th>
      <td>3.12</td>
      <td>34.13</td>
      <td>47.63</td>
      <td>17.20</td>
      <td>0.53</td>
      <td>0.53</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4634</th>
      <th>Design Of Information</th>
      <th>Harrison</th>
      <td>3.15</td>
      <td>32.30</td>
      <td>51.55</td>
      <td>13.60</td>
      <td>2.50</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">4644</th>
      <th rowspan="3" valign="top">Creative Computing Studio</th>
      <th>Harrison</th>
      <td>3.60</td>
      <td>67.30</td>
      <td>32.70</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Kelliher</th>
      <td>3.64</td>
      <td>70.00</td>
      <td>30.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>McCrickard</th>
      <td>3.72</td>
      <td>90.50</td>
      <td>4.80</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>4.80</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4654</th>
      <th>Intermed Data Analytics &amp; ML</th>
      <th>Smith</th>
      <td>3.19</td>
      <td>63.60</td>
      <td>18.20</td>
      <td>9.10</td>
      <td>0.00</td>
      <td>9.10</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">4704</th>
      <th rowspan="3" valign="top">Software Engineering Capstone</th>
      <th>Balci</th>
      <td>3.48</td>
      <td>63.00</td>
      <td>28.30</td>
      <td>6.50</td>
      <td>2.20</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Edmison</th>
      <td>3.99</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Tilevich</th>
      <td>4.00</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">4784</th>
      <th rowspan="4" valign="top">Human-Computer Interact Capstn</th>
      <th>Kavanaugh</th>
      <td>3.71</td>
      <td>89.50</td>
      <td>10.50</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Luther</th>
      <td>3.60</td>
      <td>66.70</td>
      <td>33.30</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>McCrickard</th>
      <td>3.90</td>
      <td>92.60</td>
      <td>7.40</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Tatar</th>
      <td>3.70</td>
      <td>95.50</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>4.50</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4804</th>
      <th>Introduction to AI</th>
      <th>Huang</th>
      <td>3.35</td>
      <td>47.30</td>
      <td>40.00</td>
      <td>12.70</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="19" valign="top">4974</th>
      <th rowspan="19" valign="top">Independent Study</th>
      <th>Arthur</th>
      <td>3.96</td>
      <td>95.45</td>
      <td>4.55</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Balci</th>
      <td>4.00</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Cameron</th>
      <td>4.00</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Cao</th>
      <td>3.97</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Chung</th>
      <td>3.47</td>
      <td>62.50</td>
      <td>18.80</td>
      <td>18.80</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Dunlap</th>
      <td>3.94</td>
      <td>95.45</td>
      <td>4.55</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Edmison</th>
      <td>3.97</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Feng</th>
      <td>3.97</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Gracanin</th>
      <td>3.99</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Harrison</th>
      <td>3.94</td>
      <td>95.45</td>
      <td>4.55</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Luther</th>
      <td>3.97</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>McCrickard</th>
      <td>3.91</td>
      <td>90.90</td>
      <td>9.10</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>McQuain</th>
      <td>3.69</td>
      <td>76.70</td>
      <td>13.95</td>
      <td>9.40</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>North</th>
      <td>3.47</td>
      <td>62.50</td>
      <td>18.80</td>
      <td>18.80</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Raghvendra</th>
      <td>3.96</td>
      <td>95.45</td>
      <td>4.55</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Ribbens</th>
      <td>3.84</td>
      <td>88.35</td>
      <td>6.97</td>
      <td>4.70</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Soundararajan</th>
      <td>3.91</td>
      <td>90.90</td>
      <td>9.10</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Tatar</th>
      <td>4.00</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Watson</th>
      <td>4.00</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">4984</th>
      <th>SS: Capstone in Social Network</th>
      <th>Krishnan</th>
      <td>3.72</td>
      <td>81.80</td>
      <td>18.20</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>SS: Cloud Software Development</th>
      <th>Balci</th>
      <td>3.21</td>
      <td>50.80</td>
      <td>33.30</td>
      <td>4.80</td>
      <td>11.10</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>SS:Computational Linguistics</th>
      <th>Fox</th>
      <td>3.30</td>
      <td>43.30</td>
      <td>46.70</td>
      <td>6.70</td>
      <td>0.00</td>
      <td>3.30</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>SS:Software Eng Capstone</th>
      <th>Balci</th>
      <td>3.26</td>
      <td>46.40</td>
      <td>32.10</td>
      <td>21.40</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="20" valign="top">4994</th>
      <th rowspan="20" valign="top">Undergraduate Research</th>
      <th>Arthur</th>
      <td>3.98</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Butt</th>
      <td>4.00</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Cameron</th>
      <td>3.98</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Cao</th>
      <td>3.87</td>
      <td>86.70</td>
      <td>13.30</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Dunlap</th>
      <td>3.95</td>
      <td>96.67</td>
      <td>3.33</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Edmison</th>
      <td>3.87</td>
      <td>86.70</td>
      <td>13.30</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Gracanin</th>
      <td>3.97</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Heath</th>
      <td>3.92</td>
      <td>93.35</td>
      <td>6.65</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Lin</th>
      <td>3.96</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Luther</th>
      <td>3.87</td>
      <td>86.70</td>
      <td>13.30</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>McCrickard</th>
      <td>3.99</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>McQuain</th>
      <td>3.94</td>
      <td>95.57</td>
      <td>4.43</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Raghvendra</th>
      <td>3.94</td>
      <td>95.57</td>
      <td>4.43</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Ribbens</th>
      <td>3.95</td>
      <td>96.67</td>
      <td>3.33</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Rodriguez-Camilloni</th>
      <td>4.00</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Tatar</th>
      <td>3.98</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Tilevich</th>
      <td>3.87</td>
      <td>86.70</td>
      <td>13.30</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Wang</th>
      <td>3.87</td>
      <td>86.70</td>
      <td>13.30</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Watson</th>
      <td>3.98</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Yao</th>
      <td>3.97</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">5014</th>
      <th rowspan="2" valign="top">Research Meth in CS</th>
      <th>Shaffer</th>
      <td>3.80</td>
      <td>86.40</td>
      <td>13.60</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Tilevich</th>
      <td>3.85</td>
      <td>91.25</td>
      <td>8.75</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">5044</th>
      <th rowspan="3" valign="top">Object-Oriented Pgmming Java</th>
      <th>Edwards</th>
      <td>3.44</td>
      <td>56.50</td>
      <td>34.80</td>
      <td>8.70</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Kulczycki</th>
      <td>3.44</td>
      <td>63.33</td>
      <td>30.27</td>
      <td>3.00</td>
      <td>0.00</td>
      <td>3.40</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Lewis</th>
      <td>3.57</td>
      <td>75.90</td>
      <td>14.15</td>
      <td>5.45</td>
      <td>0.00</td>
      <td>4.55</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">5045</th>
      <th rowspan="2" valign="top">Computation for Life Sciences</th>
      <th>Heath</th>
      <td>3.73</td>
      <td>70.00</td>
      <td>30.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Zhang</th>
      <td>3.71</td>
      <td>79.15</td>
      <td>20.85</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">5114</th>
      <th rowspan="4" valign="top">Theory of Algorithms</th>
      <th>Heath</th>
      <td>3.66</td>
      <td>68.15</td>
      <td>31.85</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Kulczycki</th>
      <td>3.50</td>
      <td>58.80</td>
      <td>41.20</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Raghvendra</th>
      <td>3.38</td>
      <td>51.50</td>
      <td>42.40</td>
      <td>3.00</td>
      <td>3.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Shaban</th>
      <td>3.92</td>
      <td>91.70</td>
      <td>8.30</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5124</th>
      <th>Algorithms in Bioinformatics</th>
      <th>Zhang</th>
      <td>3.64</td>
      <td>69.45</td>
      <td>30.55</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">5204</th>
      <th rowspan="2" valign="top">Operating Systems</th>
      <th>Back</th>
      <td>3.57</td>
      <td>61.50</td>
      <td>38.50</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Butt</th>
      <td>3.50</td>
      <td>55.60</td>
      <td>40.70</td>
      <td>3.70</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5214</th>
      <th>Mod &amp; Eval Comp Sys</th>
      <th>Chen</th>
      <td>3.53</td>
      <td>63.60</td>
      <td>36.40</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">5234</th>
      <th rowspan="2" valign="top">Advanced Parallel Computation</th>
      <th>Feng</th>
      <td>3.32</td>
      <td>42.90</td>
      <td>57.10</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Sandu</th>
      <td>3.66</td>
      <td>69.60</td>
      <td>30.40</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">5244</th>
      <th rowspan="2" valign="top">Internet Software</th>
      <th>Kulczycki</th>
      <td>3.62</td>
      <td>70.40</td>
      <td>27.85</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>1.70</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Oliva</th>
      <td>3.43</td>
      <td>47.80</td>
      <td>44.45</td>
      <td>7.80</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5304</th>
      <th>Trans Design and Con</th>
      <th>Jung</th>
      <td>3.62</td>
      <td>66.70</td>
      <td>33.30</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">5314</th>
      <th rowspan="2" valign="top">Programming Languages</th>
      <th>Edwards</th>
      <td>3.62</td>
      <td>64.10</td>
      <td>35.90</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Ryder</th>
      <td>3.55</td>
      <td>57.90</td>
      <td>42.10</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5424</th>
      <th>Computational Cell Biology</th>
      <th>Cao</th>
      <td>3.87</td>
      <td>96.15</td>
      <td>3.85</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">5485</th>
      <th rowspan="2" valign="top">Numer Analy and Softw</th>
      <th>Beattie</th>
      <td>3.82</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Sandu</th>
      <td>3.80</td>
      <td>80.00</td>
      <td>20.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5504</th>
      <th>Computer Architecture</th>
      <th>Lee</th>
      <td>3.55</td>
      <td>63.60</td>
      <td>36.40</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5510</th>
      <th>Multiprocessor Programming</th>
      <th>Lee</th>
      <td>3.80</td>
      <td>75.00</td>
      <td>25.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">5525</th>
      <th rowspan="3" valign="top">Data Analytics</th>
      <th>Leman</th>
      <td>4.00</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Ramakrishnan</th>
      <td>3.29</td>
      <td>46.05</td>
      <td>45.55</td>
      <td>6.50</td>
      <td>0.00</td>
      <td>1.90</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Reddy</th>
      <td>3.56</td>
      <td>62.67</td>
      <td>35.77</td>
      <td>1.57</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">5526</th>
      <th rowspan="2" valign="top">Data Analytics</th>
      <th>Huang</th>
      <td>3.91</td>
      <td>95.45</td>
      <td>4.55</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Ramakrishnan</th>
      <td>3.63</td>
      <td>72.10</td>
      <td>19.90</td>
      <td>8.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5560</th>
      <th>Network and Computer Security</th>
      <th>Park</th>
      <td>3.40</td>
      <td>45.50</td>
      <td>54.50</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">5565</th>
      <th rowspan="2" valign="top">Network Arch and Protocols</th>
      <th>Xie</th>
      <td>3.80</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Yang</th>
      <td>3.17</td>
      <td>30.00</td>
      <td>60.00</td>
      <td>10.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5590</th>
      <th>System and Software Security</th>
      <th>Yao</th>
      <td>3.85</td>
      <td>90.90</td>
      <td>9.10</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">5604</th>
      <th rowspan="2" valign="top">Info Storage and Ret</th>
      <th>Fox</th>
      <td>3.53</td>
      <td>50.93</td>
      <td>49.07</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Lu</th>
      <td>3.56</td>
      <td>60.00</td>
      <td>40.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">5614</th>
      <th rowspan="2" valign="top">Database Management Systems</th>
      <th>Lu</th>
      <td>3.58</td>
      <td>63.60</td>
      <td>36.40</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Prakash</th>
      <td>3.85</td>
      <td>91.65</td>
      <td>8.35</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5644</th>
      <th>Machine Learning with Big Data</th>
      <th>Ramakrishnan</th>
      <td>3.94</td>
      <td>93.00</td>
      <td>7.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5664</th>
      <th>Social Media Analytics</th>
      <th>Ramakrishnan</th>
      <td>3.56</td>
      <td>73.50</td>
      <td>17.60</td>
      <td>5.90</td>
      <td>2.90</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">5704</th>
      <th rowspan="4" valign="top">Software Engineering</th>
      <th>Balci</th>
      <td>3.90</td>
      <td>95.15</td>
      <td>4.85</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Kulczycki</th>
      <td>3.50</td>
      <td>64.27</td>
      <td>31.28</td>
      <td>2.30</td>
      <td>0.52</td>
      <td>1.63</td>
      <td>0</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Meng</th>
      <td>3.52</td>
      <td>64.70</td>
      <td>35.30</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Servant</th>
      <td>3.62</td>
      <td>75.00</td>
      <td>15.00</td>
      <td>10.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">5714</th>
      <th rowspan="2" valign="top">Usability Engineering</th>
      <th>Hartson</th>
      <td>4.00</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>McCrickard</th>
      <td>3.71</td>
      <td>85.70</td>
      <td>10.70</td>
      <td>3.55</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5724</th>
      <th>Models of HCI</th>
      <th>Harrison</th>
      <td>3.79</td>
      <td>85.50</td>
      <td>14.50</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5734</th>
      <th>Comptr-Supp Coop Work</th>
      <th>Tatar</th>
      <td>3.69</td>
      <td>63.60</td>
      <td>36.40</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">5744</th>
      <th rowspan="3" valign="top">Software Design and Quality</th>
      <th>Edwards</th>
      <td>4.00</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Fant</th>
      <td>3.49</td>
      <td>64.00</td>
      <td>28.00</td>
      <td>8.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Pettit</th>
      <td>3.82</td>
      <td>82.80</td>
      <td>15.87</td>
      <td>1.33</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">5754</th>
      <th rowspan="3" valign="top">Virtual Environments</th>
      <th>Bowman</th>
      <td>3.81</td>
      <td>92.30</td>
      <td>7.70</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Gracanin</th>
      <td>3.74</td>
      <td>78.60</td>
      <td>21.40</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Polys</th>
      <td>3.94</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5764</th>
      <th>Information Visualization</th>
      <th>North</th>
      <td>3.75</td>
      <td>79.57</td>
      <td>20.43</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5774</th>
      <th>User Interface Software</th>
      <th>Luther</th>
      <td>3.82</td>
      <td>87.35</td>
      <td>12.65</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5804</th>
      <th>Intro Artificial Intelligence</th>
      <th>Huang</th>
      <td>3.65</td>
      <td>81.30</td>
      <td>15.60</td>
      <td>3.10</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">5824</th>
      <th rowspan="2" valign="top">Advanced Machine Learning</th>
      <th>Huang</th>
      <td>3.88</td>
      <td>90.90</td>
      <td>9.10</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Wang</th>
      <td>3.74</td>
      <td>80.00</td>
      <td>20.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5854</th>
      <th>Computational Systems Biology</th>
      <th>Murali</th>
      <td>3.53</td>
      <td>62.50</td>
      <td>37.50</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">5984</th>
      <th>SS: Urban Computing</th>
      <th>Ramakrishnan</th>
      <td>3.91</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>SS:Human-Centrd Des Comp Intrf</th>
      <th>Harrison</th>
      <td>3.55</td>
      <td>57.10</td>
      <td>42.90</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>SS:Natural Language Processing</th>
      <th>Rozovskaya</th>
      <td>3.58</td>
      <td>63.60</td>
      <td>36.40</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">6104</th>
      <th>TS:Online Algorithms</th>
      <th>Raghvendra</th>
      <td>3.75</td>
      <td>76.90</td>
      <td>23.10</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>TS:Randomized Algorithms</th>
      <th>Heath</th>
      <td>3.86</td>
      <td>92.90</td>
      <td>7.10</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">6204</th>
      <th>Adv TS:Trust Mgmt Netwrk Systm</th>
      <th>Chen</th>
      <td>3.84</td>
      <td>92.90</td>
      <td>7.10</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>TS: Prog Anomaly Detect/Lrng</th>
      <th>Yao</th>
      <td>4.00</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>TS:Adv Top in Emergent Systems</th>
      <th>Cameron</th>
      <td>4.00</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>TS:Cloud Computing</th>
      <th>Butt</th>
      <td>3.89</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6304</th>
      <th>TS:Program Analysis &amp; Applic</th>
      <th>Ryder</th>
      <td>3.48</td>
      <td>45.50</td>
      <td>54.50</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6404</th>
      <th>TS:Stoch Mod/Sim React-Dif Sys</th>
      <th>Cao</th>
      <td>3.82</td>
      <td>91.70</td>
      <td>8.30</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="6" valign="top">6604</th>
      <th>Adv TS: Data &amp; Info Event Mdlg</th>
      <th>Ramakrishnan</th>
      <td>3.72</td>
      <td>78.60</td>
      <td>21.40</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Adv TS: Spatial Data Managemt</th>
      <th>Lu</th>
      <td>3.57</td>
      <td>53.30</td>
      <td>46.70</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>TS: Instructional Design in CS</th>
      <th>Kafura</th>
      <td>3.97</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>TS:Data Mining Large Networks</th>
      <th>Prakash</th>
      <td>3.95</td>
      <td>100.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>TS:Design/Impl Online Edu Sys</th>
      <th>Shaffer</th>
      <td>3.90</td>
      <td>90.00</td>
      <td>10.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>TS:Digital Libraries</th>
      <th>Fox</th>
      <td>3.83</td>
      <td>90.90</td>
      <td>9.10</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">6704</th>
      <th>TS:Software Engineering Rsrch</th>
      <th>Meng</th>
      <td>3.79</td>
      <td>86.70</td>
      <td>13.30</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>TS:Software Refactoring</th>
      <th>Tilevich</th>
      <td>3.68</td>
      <td>83.30</td>
      <td>11.10</td>
      <td>5.60</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6724</th>
      <th>TS:Desig Change to Pow/Auth</th>
      <th>Tatar</th>
      <td>3.77</td>
      <td>85.70</td>
      <td>14.30</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
  </tbody>
</table>